body {
  font-family: Arial, sans-serif;
  background-color: #be8989;
  padding: 20px;
  text-align: center;
}
h1 {
  color: #333;
}
input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #702fc6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #ebee0b;
}
#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}